

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    <div class="alert alert-info">
        <strong>Info!</strong> There´re no collections to show.
    </div>
</p>
